# Pandas
**Pandas** is a powerful and popular open-source Python library for data manipulation and analysis. It is built on top of NumPy and provides easy-to-use data structures and functions for working with structured data, making it an essential tool in the data science and data analysis toolkit. Here's a more detailed explanation of what pandas is and what it offers:

1. **Data Structures:**
   - **DataFrame:** The primary data structure in pandas is the DataFrame, which is a 2-dimensional, size-mutable, and tabular data structure. Think of it as a table or spreadsheet where you can store and manipulate data. Each column in a DataFrame is a Series, which is a one-dimensional labeled array with data of any type.
   
2. **Key Features:**
   - **Data Loading:** Pandas can read data from various sources, including CSV files, Excel spreadsheets, SQL databases, and more. It can also connect to online data sources, making it versatile for data ingestion.
   - **Data Cleaning:** It provides powerful tools for handling missing data, transforming data, and dealing with outliers.
   - **Data Indexing and Selection:** Pandas offers flexible indexing methods, including label-based, integer-based, and Boolean-based indexing, allowing you to select and filter data easily.
   - **Data Aggregation and Grouping:** You can group and aggregate data based on certain criteria using pandas, which is essential for performing summary statistics and analysis.
   - **Merging and Joining:** Pandas can merge and join datasets similar to SQL databases, enabling you to combine data from multiple sources.
   - **Time Series Analysis:** It has built-in support for time series data, making it suitable for financial and temporal data analysis.
   - **Data Visualization:** While pandas is primarily a data manipulation library, it can also work seamlessly with data visualization libraries like Matplotlib and Seaborn for creating charts and plots.

3. **Use Cases:**
   - **Data Analysis:** Pandas is widely used for data exploration and analysis, allowing data scientists and analysts to perform tasks like data cleaning, transformation, and statistical analysis.
   - **Data Preparation:** Before feeding data into machine learning models, you often need to preprocess and structure it correctly. Pandas is invaluable for this purpose.
   - **Data Wrangling:** When working with real-world data, it's common to have data in messy formats. Pandas helps clean and prepare this data for analysis.
   - **Data Reporting and Visualization:** While not a data visualization library in itself, pandas can be combined with libraries like Matplotlib and Seaborn to create informative visualizations.

4. **Community and Documentation:**
   - Pandas has a large and active community, which means that there is plenty of support, documentation, and online resources available. This makes it easy to find solutions to common data-related problems.

In summary, pandas is an indispensable tool for data manipulation and analysis in Python. It simplifies the handling of structured data, making it more accessible for users to perform various data-related tasks, from basic data cleaning to complex data analysis.

Pandas provides a wide range of functions and methods for data manipulation and analysis. Here's a list of some of the most commonly used basic functions and methods in pandas:

**DataFrame and Series Creation:**
1. `pd.DataFrame(data)`: Create a new DataFrame from data (e.g., a dictionary or a 2D array).
2. `pd.Series(data)`: Create a new Series from data.

**Data Loading and Input/Output:**

3. `pd.read_csv(filename)`: Read data from a CSV file.
4. `pd.read_excel(filename)`: Read data from an Excel file.
5. `pd.read_sql(query, connection)`: Read data from a SQL database.
6. `df.to_csv(filename)`: Write data to a CSV file.
7. `df.to_excel(filename)`: Write data to an Excel file.

**Data Exploration and Information:**

8. `df.head(n)`: Display the first n rows of the DataFrame.
9. `df.tail(n)`: Display the last n rows of the DataFrame.
10. `df.info()`: Display information about the DataFrame, including data types and missing values.
11. `df.describe()`: Generate summary statistics of the DataFrame.
12. `df.shape`: Get the dimensions (rows, columns) of the DataFrame.

**Indexing and Selection:**

13. `df[column]`: Select a single column by name.
14. `df[[column1, column2]]`: Select multiple columns by name.
15. `df.iloc[row, column]`: Select data by integer-based location.
16. `df.loc[row_label, column_label]`: Select data by label-based location.

**Data Cleaning and Transformation:**

17. `df.drop(labels, axis)`: Remove rows or columns.
18. `df.fillna(value)`: Fill missing values with a specified value.
19. `df.dropna()`: Remove rows with missing values.
20. `df.rename(columns)`: Rename columns.
21. `df.sort_values(by)`: Sort DataFrame by column(s).
22. `df.groupby(column)`: Group data based on a column.
23. `df.pivot_table()`: Create a pivot table.

**Filtering and Querying:**

24. `df[df['column'] > value]`: Filter data based on a condition.
25. `df.query('condition')`: Query data using a SQL-like syntax.

**Aggregation and Statistics:**

26. `df.mean()`, `df.median()`, `df.sum()`, `df.min()`, `df.max()`: Compute various statistics.
27. `df.groupby(column).agg(func)`: Perform custom aggregation.

**Data Visualization:**

28. `df.plot()`: Create basic plots using Matplotlib.
29. `df.hist()`, `df.plot.hist()`: Create histograms.
30. `df.plot.scatter()`: Create scatter plots.

**Merging and Joining:**

31. `pd.concat([df1, df2])`: Concatenate DataFrames.
32. `df1.merge(df2, on='key')`: Perform SQL-like joins.

**Time Series and Datetime Handling:**

33. `pd.to_datetime(series)`: Convert a series to datetime.
34. `df.resample('D').sum()`: Resample time series data.

**Serialization:**

35. `df.to_pickle(filename)`: Serialize the DataFrame to a pickle file.
36. `pd.read_pickle(filename)`: Deserialize a pickle file to a DataFrame.

These are some of the basic functions and methods in pandas. The library offers many more functions for specialized data operations, so be sure to consult the official pandas documentation for more detailed information and examples.

# DataFrame and Series Creation:
### 1. Series Creation

Certainly! To create Pandas Series from various data sources, including lists, tuples, dictionaries, JSON, strings, and NumPy arrays, you can use the `pd.Series()` constructor or simply access a specific column of a DataFrame. Here are examples for each data source:

#### **1. From a List:**

In [ ]:
import pandas as pd
# Create a Pandas Series from a list
data_list = [1, 2, 3, 4, 5]
series_from_list = pd.Series(data_list)
# Display the Series
print(series_from_list)

In [ ]:
series_from_list.shape

In [ ]:
type(series_from_list)

#### **2. From a Tuple:**

In [ ]:
# Create a Pandas Series from a tuple
data_tuple = (1, 2, 3, 4, 5)
series_from_tuple = pd.Series(data_tuple)

# Display the Series
print(series_from_tuple)

#### **3. From a Dictionary:**

In [ ]:
# Create a Pandas Series from a dictionary
data_dict = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}
series_from_dict = pd.Series(data_dict)

# Display the Series
print(series_from_dict)

#### **4. From JSON Data (as a string):**

In [ ]:
# JSON data as a string
json_data = '{"A": 10, "B": 20, "C": 30, "D": 40, "E": 50}'

# Create a Pandas Series from JSON data
series_from_json = pd.read_json(json_data, typ='series')

# Display the Series
print(series_from_json)

#### **5. From a String (with data separated by commas):**

In [ ]:
# Data in CSV format as a string
csv_data = "1,2,3,4,5"

# Create a Pandas Series from CSV data
series_from_csv = pd.Series(csv_data.split(','))

# Display the Series
print(series_from_csv)

#### **6. From a NumPy Array:**

In [ ]:
import pandas as pd
import numpy as np

# Create a Pandas Series from a NumPy array
data_np = np.array([1, 2, 3, 4, 5])
series_from_numpy = pd.Series(data_np)

# Display the Series
print(series_from_numpy)

In each example, a Pandas Series is created from a different data source, and it is then displayed. You can access elements in these Series by index and perform various operations on them, just like you would with any Pandas Series.

### 2. DataFrame Creation

You can create a Pandas DataFrame with columns of different data types from various data sources, such as lists, tuples, dictionaries, JSON, strings, and NumPy arrays. Here are examples for each data source:

#### **1. From a List:**

In [ ]:
data_list = [
    ['John', 30, 68.5, True, 95.5],
    ['Alice', 25, 63.2, False, 88.0],
    ['Bob', 35, 71.0, True, 76.5],
    ['Eve', 28, 65.8, False, 92.0],
    ['Charlie', 40, 72.3, False, 87.5]
]

column_names = ['Name', 'Age', 'Height (inches)', 'Is Student', 'Scores']

df = pd.DataFrame(data_list, columns=column_names)

# Display the DataFrame
df

#### **2. From a Tuple:**

In [ ]:
data_tuple = (
    ('John', 30, 68.5, True, 95.5),
    ('Alice', 25, 63.2, False, 88.0),
    ('Bob', 35, 71.0, True, 76.5),
    ('Eve', 28, 65.8, False, 92.0),
    ('Charlie', 40, 72.3, False, 87.5)
)

column_names = ['Name', 'Age', 'Height (inches)', 'Is Student', 'Scores']

df = pd.DataFrame(data_tuple, columns=column_names)

# Display the DataFrame
df

#### **3. From a Dictionary:**

In [ ]:
data_dict = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
    'Age': [30, 25, 35, 28, 40],
    'Height (inches)': [68.5, 63.2, 71.0, 65.8, 72.3],
    'Is Student': [True, False, True, False, False],
    'Scores': [95.5, 88.0, 76.5, 92.0, 87.5]
}

df = pd.DataFrame(data_dict)

# Display the DataFrame
df

#### **4. From JSON Data (as a string):**

In [ ]:
json_data = '{"Name": ["John", "Alice", "Bob", "Eve", "Charlie"], ' \
            '"Age": [30, 25, 35, 28, 40], ' \
            '"Height (inches)": [68.5, 63.2, 71.0, 65.8, 72.3], ' \
            '"Is Student": [true, false, true, false, false], ' \
            '"Scores": [95.5, 88.0, 76.5, 92.0, 87.5]}'

df = pd.read_json(json_data)

# Display the DataFrame
df

#### **5. From a String (with data in CSV or TSV format):**

In [ ]:
from io import StringIO
csv_data = """Name, Age, Height (inches), Is Student, Scores
John, 30, 68.5, True, 95.5
Alice, 25, 63.2, False, 88.0
Bob, 35, 71.0, True, 76.5
Eve, 28, 65.8, False, 92.0
Charlie, 40, 72.3, False, 87.5"""

df = pd.read_csv(StringIO(csv_data))

# Display the DataFrame
df

#### **6. From a NumPy Array:**

In [ ]:
import pandas as pd
import numpy as np

data_np = np.array([
    ['John', 30, 68.5, True, 95.5],
    ['Alice', 25, 63.2, False, 88.0],
    ['Bob', 35, 71.0, True, 76.5],
    ['Eve', 28, 65.8, False, 92.0],
    ['Charlie', 40, 72.3, False, 87.5]
])

column_names = ['Name', 'Age', 'Height (inches)', 'Is Student', 'Scores']

df = pd.DataFrame(data_np, columns=column_names)

# Convert data types as needed
df[['Age', 'Scores']] = df[['Age', 'Scores']].astype(float)
df['Is Student'] = df['Is Student'].astype(bool)

# Display the DataFrame
df

These examples demonstrate how to create Pandas DataFrames from various data sources, allowing for columns of different data types. Depending on the data source, you may need to convert data types as necessary to match your desired DataFrame structure.

# Reading Dataset Files in Pandas

In [ ]:
# creating different file types dataset from csv
df = pd.read_csv("/kaggle/input/customer-transactions/sample_dataset.csv")
df = df[:100]
# # writing dataset to html
df.to_html("sample_dataset.html")

# writing dataset as pickle
df.to_pickle("sample_dataset.pkl")

# writing dataset as feather
df.to_feather("sample_dataset.feather")

# writing dataset as parquet
df.to_parquet("sample_dataset.parquet")

# writing dataset as hdf5
df.to_hdf("sample_dataset.h5", "sample_dataset")

# Save the DataFrame to a tab-separated value (TSV) file
df.to_csv('sample_dataset.tsv', sep='\t', index=False)

Pandas is a versatile library that allows you to read various types of files into a DataFrame. Here's how you can read different types of files using Pandas:

#### 1. **CSV Files:**
   To read a CSV file, you can use the `pd.read_csv()` function:
   ```python
   import pandas as pd
   df = pd.read_csv('your_file.csv')
   ```

In [ ]:
csv_df = pd.read_csv('/kaggle/input/customer-transactions/sample_dataset.csv')

In [ ]:
csv_df.shape

In [ ]:
csv_df.head()

#### 2. **Excel Files:**
   To read an Excel file, use the `pd.read_excel()` function:
   ```python
   import pandas as pd
   df = pd.read_excel('your_file.xlsx')
   ```

In [ ]:
excel_df = pd.read_excel('/kaggle/input/dirty-excel-data/Cola.xlsx')

In [ ]:
excel_df.shape

In [ ]:
excel_df.head()

#### 3. **SQL Databases:**
   You can use the `pandas.read_sql()` function to read data from a SQL database using an appropriate connection:
   ```python
   import pandas as pd
   import sqlite3  # Example using SQLite
   conn = sqlite3.connect('your_database.db')
   query = 'SELECT * FROM your_table'
   df = pd.read_sql(query, conn)
   ```

In [ ]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect('/kaggle/input/imdb-project-sql/movies.sqlite')

# Create a cursor object
cursor = conn.cursor()

# Execute a query to fetch table names from the 'sqlite_master' table
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all the table names
table_names = cursor.fetchall()

# Close the database connection
conn.close()

# Extract table names from the result
table_names = [table[0] for table in table_names]

# Print the table names
for table_name in table_names:
    print(table_name)

In [ ]:
conn = sqlite3.connect('/kaggle/input/imdb-project-sql/movies.sqlite')
query = 'SELECT * FROM movies'
sql_df = pd.read_sql(query, conn)

In [ ]:
sql_df.shape

In [ ]:
sql_df.head()

#### 4. **JSON Files:**
   To read JSON data, use the `pd.read_json()` function:
   ```python
   import pandas as pd
   df = pd.read_json('your_file.json')
   ```

In [ ]:
json_df = pd.read_json('/kaggle/input/iris-dataset-json-version/iris.json')

In [ ]:
json_df.shape

In [ ]:
json_df.head()

#### 5. **HTML Tables:**
   You can scrape tables from HTML web pages using `pd.read_html()`. This function returns a list of DataFrames if there are multiple tables on the page:
   ```python
   import pandas as pd
   dfs = pd.read_html('https://example.com/page_with_tables.html')
   df = dfs[0]  # Select the appropriate DataFrame from the list
   ```

In [ ]:
html_df = pd.read_html("/kaggle/working/sample_dataset.html")

In [ ]:
html_df = html_df[0]

In [ ]:
html_df.shape

In [ ]:
html_df.head()

#### 6. **Clipboard Content:**
   You can read data from your clipboard using `pd.read_clipboard()`:
   ```python
   import pandas as pd
   df = pd.read_clipboard()
   ```

#### 7. **Other Text-Based Formats:**
   Pandas can read other text-based formats like TSV (Tab-Separated Values) or any delimited text files using `pd.read_csv()` by specifying the delimiter:
   ```python
   import pandas as pd
   df = pd.read_csv('your_file.tsv', delimiter='\t')
   ```

In [ ]:
pd.read_csv("/kaggle/working/sample_dataset.tsv",sep='\t')

#### 8. **Parquet Files:**
   To read Parquet files, you can use the `pd.read_parquet()` function:
   ```python
   import pandas as pd
   df = pd.read_parquet('your_file.parquet')
   ```

In [ ]:
pd.read_parquet("/kaggle/working/sample_dataset.parquet")

#### 9. **HDF5 Files:**
   Pandas can read data from HDF5 files using the `pd.read_hdf()` function:
   ```python
   import pandas as pd
   df = pd.read_hdf('your_file.h5')
   ```

In [ ]:
pd.read_hdf("/kaggle/working/sample_dataset.h5")

#### 10. **Feather Files:**
    Feather is another file format for efficiently storing data frames. You can use `pd.read_feather()` to read Feather files:
    ```python
    import pandas as pd
    df = pd.read_feather('your_file.feather')
    ```

In [ ]:
pd.read_feather('/kaggle/working/sample_dataset.feather')

These are some common file formats that Pandas can handle. Depending on your data source and format, you can choose the appropriate function to read the data into a Pandas DataFrame.

# Data Exploration and Information:
Data exploration and information functions in Pandas are used to gain insights into your data, understand its structure, and obtain summary statistics. Here are some common data exploration and information functions in Pandas:

1. **`head(n)` and `tail(n)`**:
   - `df.head(n)`: Returns the first `n` rows of the DataFrame (default is 5).
   - `df.tail(n)`: Returns the last `n` rows of the DataFrame (default is 5).

2. **`info()`**:
   - `df.info()`: Provides a summary of the DataFrame, including the data types of columns and the count of non-null values. Useful for understanding the data's structure.

3. **`describe()`**:
   - `df.describe()`: Generates descriptive statistics (count, mean, std, min, 25%, 50%, 75%, max) for numerical columns.

4. **`shape`**:
   - `df.shape`: Returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).

5. **`dtypes`**:
   - `df.dtypes`: Returns a Series with the data types of each column.

6. **`columns`**:
   - `df.columns`: Returns a list of column names.

7. **`nunique()` and `unique()`**:
   - `df['column_name'].nunique()`: Returns the number of unique values in a specific column.
   - `df['column_name'].unique()`: Returns an array of unique values in a specific column.

8. **`value_counts()`**:
   - `df['column_name'].value_counts()`: Counts the frequency of each unique value in a specific column.

9. **`isna()` and `isnull()`**:
   - `df.isna()`: Returns a DataFrame of the same shape with `True` for missing values and `False` for non-missing values.
   - `df.isnull()`: Same as `isna()`.

10. **`notna()` and `notnull()`**:
   - `df.notna()`: Returns a DataFrame of the same shape with `True` for non-missing values and `False` for missing values.
   - `df.notnull()`: Same as `notna()`.

11. **`corr()`**:
   - `df.corr()`: Calculates the pairwise correlation of numerical columns in the DataFrame.

12. **`cov()`**:
   - `df.cov()`: Calculates the covariance matrix of numerical columns.

13. **`mean()`, `median()`, `std()`, `min()`, and `max()`**:
   - `df.mean()`: Computes the mean of each numerical column.
   - `df.median()`: Computes the median of each numerical column.
   - `df.std()`: Computes the standard deviation of each numerical column.
   - `df.min()`: Returns the minimum value of each column.
   - `df.max()`: Returns the maximum value of each column.

These functions are valuable for understanding your data, identifying missing values, finding summary statistics, and performing initial data exploration and cleaning before more in-depth analysis.

In [ ]:
df = pd.read_feather('/kaggle/working/sample_dataset.feather')

In [ ]:
# shape of data
df.shape

In [ ]:
# view the table - first 5 data
df.head()

In [ ]:
# last 5 data
df.tail()

In [ ]:
# random 5 sample
df.sample(5)

In [ ]:
# viewing data info
df.info()

In [ ]:
# data
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df.columns.to_list()

In [ ]:
df['Gender'].unique()

In [ ]:
df['Category'].unique()

In [ ]:
df['Gender'].nunique()

In [ ]:
df['Category'].nunique()

In [ ]:
df['Gender'].value_counts(dropna=False)

In [ ]:
df['Category'].value_counts()

In [ ]:
df.isna().sum()

In [ ]:
# df[df.notna().all(axis=1)]
df.notna().all()

In [ ]:
# discard all none/null rows
df[df.notna().all(axis=1)]

In [ ]:
excel_df.isnull().sum()

In [ ]:
df[df['Gender'].isna()]

In [ ]:
# extract all records of none value in gender
df[df['Gender'].isnull()]

In [ ]:
# extract df where no null values in gender columns, other columns might have null values
df[df['Gender'].notna()]

In [ ]:
df = excel_df

In [ ]:
df.head()

In [ ]:
dic = {}
for i in range(12):
    dic[f'Unnamed: {i}'] = f'Col{i}'

In [ ]:
dic

In [ ]:
columns = {'Data provided by SimFin':'Data',
 'Unnamed: 0': 'Col0',
 'Unnamed: 1': 'Col1',
 'Unnamed: 2': 'Col2',
 'Unnamed: 3': 'Col3',
 'Unnamed: 4': 'Col4',
 'Unnamed: 5': 'Col5',
 'Unnamed: 6': 'Col6',
 'Unnamed: 7': 'Col7',
 'Unnamed: 8': 'Col8',
 'Unnamed: 9': 'Col9',
 'Unnamed: 10': 'Col10',
 'Unnamed: 11': 'Col11'}

In [ ]:
df.rename(columns=columns, inplace=True)

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.isna().any()

In [ ]:
df.notna().all()

In [ ]:
df.isna().sum()

In [ ]:
df.isna().sum().sum()

In [ ]:
df.isna().mean()

In [ ]:
csv_df.dropna(inplace=True)

# Indexing, Slicing and Selection

Indexing, slicing, and selection in Pandas are essential techniques for extracting and manipulating data from DataFrames and Series. They allow you to access specific rows and columns or subsets of your data. Here's a detailed explanation of how these operations work in Pandas:

1. **Indexing DataFrames**:

   - **By Column Name**:
     - To access a specific column, use `df['column_name']`. This returns a Series.
     - Example: `df['Age']`.

   - **By Attribute**:
     - If column names are valid Python variable names, you can access columns using attributes, like `df.column_name`.
     - Example: `df.Age`.

   - **By Column Index**:
     - You can access a column by its position (index) using `df.iloc[:, col_index]`.
     - Example: `df.iloc[:, 1]` to access the second column.

2. **Slicing DataFrames**:

   - **Slicing Rows**:
     - To select a range of rows, use `df[start_row:end_row]`. The end row is exclusive.
     - Example: `df[1:4]` returns rows 2 to 4.

   - **Slicing Columns**:
     - To select a subset of columns, use `df[['col1', 'col2']]` to select specific columns.
     - Example: `df[['Name', 'Age']]`.

3. **Selection by Label**:

   - **`.loc[]`**:
     - Use `.loc[]` to select data by label. You can specify rows and columns by their labels.
     - Example: `df.loc[1:4, 'Name':'Age']` selects rows 2 to 4 and columns 'Name' to 'Age'.

4. **Selection by Position**:

   - **`.iloc[]`**:
     - Use `.iloc[]` to select data by integer position. You can specify rows and columns by their position.
     - Example: `df.iloc[1:4, 0:2]` selects rows 2 to 4 and the first two columns.

5. **Boolean Indexing**:

   - You can create Boolean masks to filter rows based on a condition. For example, `df[df['Age'] > 30]` selects rows where 'Age' is greater than 30.

6. **Combining Selections**:

   - You can combine selections for complex data extraction.
   - Example: `df.loc[df['Age'] > 30, ['Name', 'Age']]` selects the 'Name' and 'Age' columns for rows where 'Age' is greater than 30.

7. **`.at[]` and `.iat[]`**:

   - These methods provide faster access to single elements by label or position, respectively.
   - Example: `df.at[2, 'Age']` returns the value at row 3 and the 'Age' column.

8. **Chained Indexing**:

   - Avoid using chained indexing, like `df[1:3]['Name']`. Use `.loc[]` or `.iloc[]` for better performance and to avoid setting with copy errors.

Pandas provides a wide range of indexing and selection methods to make it convenient to access and manipulate data. Understanding these techniques is crucial for effective data analysis and manipulation.

In [ ]:
df = pd.read_csv("/kaggle/input/sales-and-customer-data/customer_data.csv")

In [ ]:
df['customer_id']

In [ ]:
df.customer_id

In [ ]:
df.iloc[:,1]

In [ ]:
df.iloc[:,[1,3]]

In [ ]:
df.iloc[:,:2]

In [ ]:
df.iloc[:,::-1]

In [ ]:
df[:]

In [ ]:
df[:10]

In [ ]:
df[5:10]

In [ ]:
df['age']

In [ ]:
df[['gender','age']]

In [ ]:
df[['gender','age','payment_method']]

In [ ]:
# create a label index dataframe
import pandas as pd
import random
import string

students = student_names = ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Henry", "Ivy", "Jack"]

# Create a random marks DataFrame
subjects = ['Math', 'Science', 'History', 'English', 'Art']
data = {subject: [random.randint(50, 100) for _ in range(10)] for subject in subjects}
dummy = pd.DataFrame(data, index=students)

In [ ]:
# Display the DataFrame
dummy

In [ ]:
dummy.loc['Alice']

In [ ]:
dummy.loc[["Alice","Ivy"]] # two rows by their index name

In [ ]:
dummy.loc[['Eva','Frank'],['Math',"Science",'English']]

In [ ]:
dummy.loc[:,:]

In [ ]:
dummy.loc[:,["English","Math",'Science']]

In [ ]:
dummy[dummy['Math']>60].sort_values("Math")

In [ ]:
dummy[dummy['Math']>60].sort_values("Math")[['Math','Science','Art']]

In [ ]:
df.loc[:5,"age"]

In [ ]:
df[df.age>30][['gender','age']]

In [ ]:
df.loc[df['age'] > 30, ['gender', 'age']][:2]

In [ ]:
df.loc[df['age']<20,['age','gender']]

In [ ]:
df[df['age']==20]

In [ ]:
df[:5]

In [ ]:
df.at[0,'age'] # age value at index row 0

In [ ]:
df.at[2,'gender']

In [ ]:
df.iat[0,2]

In [ ]:
df.iat[2,1]

In [ ]:
df.iloc[1:5,1:3]

In [ ]:
df.loc[1:5,['gender','age']]

# Data Cleaning and Transforming

Data cleaning and transformation are crucial steps in the data preprocessing and analysis pipeline. Pandas provides numerous functions for cleaning and transforming data in DataFrames. Here are some common functions and techniques for data cleaning and transformation in Pandas:

1. **Handling Missing Values**:

   - `df.dropna()`: Removes rows or columns with missing values.
   - `df.fillna(value)`: Fills missing values with a specified value.
   - `df.interpolate()`: Interpolates missing values based on various methods (e.g., linear or polynomial).

2. **Changing Data Types**:

   - `df.astype(dtype)`: Converts the data type of one or more columns.
   - `pd.to_numeric()`, `pd.to_datetime()`, `pd.to_timedelta()`: Converts data to specific data types.

3. **Data Aggregation and Grouping**:

   - `df.groupby()`: Groups data based on one or more columns for aggregation.
   - `agg()`: Performs aggregation operations (e.g., sum, mean, count) on grouped data.
   - `pivot_table()`: Creates pivot tables for summarizing data.

4. **Renaming and Reindexing**:

   - `df.rename()`: Renames columns or indexes.
   - `df.set_index()`: Sets a specific column as the DataFrame's index.
   - `df.reset_index()`: Resets the index.

5. **Dropping Columns**:

   - `df.drop(columns)`: Drops specified columns.
   - `df.pop(column)`: Removes and returns a specific column.

6. **String Manipulation**:

   - `str.lower()`, `str.upper()`, `str.strip()`: Performs string operations on text columns.
   - `str.contains()`, `str.replace()`: Searches for and replaces text in columns.

7. **Duplicated Data**:

   - `df.duplicated()`: Identifies duplicate rows.
   - `df.drop_duplicates()`: Removes duplicate rows.

8. **Applying Custom Functions**:

   - `apply(func)`, `applymap(func)`: Applies a custom function element-wise or row-wise.
   - `transform(func)`: Applies a custom function element-wise and retains the DataFrame shape.

9. **Handling Outliers**:

   - Filtering rows or replacing outlier values based on criteria.

10. **Binning and Categorization**:

    - `cut()`: Divides a continuous variable into categorical bins.
    - `qcut()`: Divides a continuous variable into quantile-based bins.

11. **Merging and Joining Data**:

    - `concat()`, `merge()`: Combines multiple DataFrames.
    - `join()`: Joins DataFrames on a common column.

12. **Reshaping Data**:

    - `melt()`: Unpivots data from wide to long format.
    - `pivot()`: Pivots data from long to wide format.

13. **Handling Datetime Data**:

    - Extracting date, time, and other components from datetime columns.

14. **Handling Categorical Data**:

    - Encoding categorical variables into numerical format.

15. **Mathematical and Statistical Transformations**:

    - `df.apply()`: Apply mathematical or statistical functions row-wise or column-wise.

16. **Custom Data Cleaning and Transformation**:

    - Writing custom functions and transformations to address domain-specific needs.

Data cleaning and transformation are highly dependent on the specific dataset and analysis goals. Pandas offers a wide range of functions to support these operations, allowing you to preprocess and manipulate data effectively before analysis.

#### 1. **Handling Missing Values**:

   - `df.dropna()`: Removes rows or columns with missing values.
   - `df.fillna(value)`: Fills missing values with a specified value.
   - `df.interpolate()`: Interpolates missing values based on various methods (e.g., linear or polynomial).

In [ ]:
# dummy data
import pandas as pd
import numpy as np

# Create a sample DataFrame with 20 rows
data = {
    'A': np.random.randint(1, 10, 20),   # Random integers
    'B': np.random.rand(20),             # Random float values
    'C': np.random.choice(['X', 'Y', np.nan], 20),  # Random choice with some NaN
    'D': [np.nan] * 10 + list(range(10))  # First 10 values are NaN
}

df2 = pd.DataFrame(data)

In [ ]:
# Display the DataFrame
df2

In [ ]:
#checking nan type
type(df2['D'][0])

In [ ]:
type(df2['C'][0]) 
# str nan type cannot be drop or filled by df.dropna or df.fillna, it only can be replace by another

In [ ]:
df2.dropna()

In [ ]:
df2.fillna("Missing")

In [ ]:
df2.replace("nan",'Missing')
# this will only perform on which nan type is str

#### 2. **Changing Data Types**:

   - `df.astype(dtype)`: Converts the data type of one or more columns.
   - `pd.to_numeric()`, `pd.to_datetime()`, `pd.to_timedelta()`: Converts data to specific data types.

In [ ]:
dummy.info()

In [ ]:
dummy.astype(float)

In [ ]:
dummy['Math'].astype(str)

In [ ]:
import pandas as pd
import random
import string
from datetime import datetime, time, timedelta

# Create a list of data
data = []

# Generate random data for 20 rows
for _ in range(20):
    # Generate random datetime
    date = datetime(2023, random.randint(1, 12), random.randint(1, 28), random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    
    # Generate random time
    start_time = time(random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    
    # Generate random integer
    integer_value = random.randint(0, 100)
    
    # Generate random float
    float_value = round(random.uniform(0, 100), 2)
    
    # Generate random string
    string_value = ''.join(random.choice(string.ascii_letters) for _ in range(5))
    
    data.append([date, start_time, integer_value, float_value, string_value])

# Create a DataFrame
df3 = pd.DataFrame(data, columns=['Datetime', 'Time', 'Integer', 'Float', 'String'], dtype=object)

In [ ]:
# Display the DataFrame
df3

In [ ]:
df3.info()

In [ ]:
# str int to int
pd.to_numeric(df3['Integer'])

In [ ]:
# float object to float
pd.to_numeric(df3['Float'])

In [ ]:
# object to datetime
pd.to_datetime(df3['Datetime'])

In [ ]:
# extract date
pd.to_datetime(df3['Datetime']).dt.date

In [ ]:
# get year
pd.to_datetime(df3['Datetime']).dt.year

In [ ]:
# get month
pd.to_datetime(df3['Datetime']).dt.month

In [ ]:
# get month name
pd.to_datetime(df3['Datetime']).dt.month_name()

In [ ]:
# get day
pd.to_datetime(df3['Datetime']).dt.day

In [ ]:
# get day name
pd.to_datetime(df3['Datetime']).dt.day_name()

In [ ]:
# get week 
pd.to_datetime(df3['Datetime']).dt.weekday

In [ ]:
# get time from datetime
pd.to_datetime(df3['Datetime']).dt.time

In [ ]:
# get hour
pd.to_datetime(df3['Datetime']).dt.hour

In [ ]:
# get minute
pd.to_datetime(df3['Datetime']).dt.minute

In [ ]:
# get second
pd.to_datetime(df3['Datetime']).dt.second

#### 3. **Data Aggregation and Grouping**:

   - `df.groupby()`: Groups data based on one or more columns for aggregation.
   - `agg()`: Performs aggregation operations (e.g., sum, mean, count) on grouped data.
   - `pivot_table()`: Creates pivot tables for summarizing data.

In [ ]:
df= pd.read_csv("/kaggle/input/ipl-auction-20132022-data/IPl Auction 2013-2022.csv")
players = df.groupby("type") # gourping on players category

`df.groupby()` is a powerful method in Pandas for grouping data in a DataFrame. It returns a `GroupBy` object, which provides various methods and attributes for working with grouped data. Here are some of the commonly used attributes, methods, and variables of a `GroupBy` object:

1. **`groups` (attribute)**:
   - Returns a dictionary where the keys are the unique group labels, and the values are the corresponding group indices.

In [ ]:
players.groups

2. **`get_group()` (method)**:
   - Retrieves a specific group from the grouped data. For example, `grouped.get_group('GroupLabel')` returns a DataFrame with all rows belonging to 'GroupLabel'.

In [ ]:
players.groups.keys()

In [ ]:
players.get_group('All-Rounder').head()

In [ ]:
players.get_group("Bowler").head()

3. **`size()` (method)**:
   - Returns a Series with the group sizes, indicating how many rows are in each group.

In [ ]:
players.size()

4. **`count()` (method)**:
   - Returns the count of non-null values in each group.

In [ ]:
players.count()

5. **`mean()` (method)**:
   - Calculates the mean of each group.

In [ ]:
players['sold_price'].mean()

In [ ]:
players.get_group('Batsman')['sold_price'].mean()

6. **`sum()` (method)**:
   - Calculates the sum of each group.

In [ ]:
players['sold_price'].sum()

In [ ]:
players.get_group('Batsman')['sold_price'].sum()

7. **`min()` (method)**:
   - Calculates the minimum value in each group.

In [ ]:
players['sold_price'].min()

8. **`max()` (method)**:
   - Calculates the maximum value in each group.

In [ ]:
players['sold_price'].max()

9. **`agg()` (method)**:
   - Applies one or more aggregation functions to each group. You can pass a dictionary specifying which functions to apply to which columns.

In [ ]:
players.agg({'sold_price': ['sum', 'mean', 'min','max']})

10. **`apply()` (method)**:
    - Applies a custom function to each group.

In [ ]:
players.get_group("Bowler").apply(lambda x : x*1)

11. **`transform()` (method)**:
    - Applies a function to each group and broadcasts the results to the original DataFrame.

12. **`filter()` (method)**:
    - Filters groups based on a condition and returns a new GroupBy object containing only the selected groups.

13. **`describe()` (method)**:
    - Generates descriptive statistics for each group, similar to the `describe()` method for DataFrames.

In [ ]:
players.count().describe()

14. **`head()` and `tail()` (method)**:
    - Returns the first or last n rows of each group.

In [ ]:
players.head()

In [ ]:
players.tail()

15. **`nth()` (method)**:
    - Returns the nth row from each group.

In [ ]:
players.nth(3)

16. **`first()` and `last()` (method)**:
    - Returns the first or last row from each group.

In [ ]:
players.first()

In [ ]:
players.last()

17. **`mean()`, `sum()`, `std()`, and other aggregation methods**:
    - These methods can be used to calculate various statistics for each group.

In [ ]:
players['sold_price'].mean()

In [ ]:
players['sold_price'].sum()

In [ ]:
players['sold_price'].std()

In [ ]:
players['sold_price'].min()

In [ ]:
players['sold_price'].max()

18. **`size()`, `count()`, `first()`, `last()`, and other counting and selection methods**:
    - These methods help in summarizing and selecting data based on group properties.

In [ ]:
players.size()

In [ ]:
players.count()

In [ ]:
players.first()

In [ ]:
players.last()

The specific method you use will depend on your data analysis needs. These functions allow you to perform group-wise operations and calculations on your data, making groupby an essential tool for data analysis with Pandas.

#### 4. **Renaming and Reindexing**:

   - `df.rename()`: Renames columns or indexes.
   - `df.set_index()`: Sets a specific column as the DataFrame's index.
   - `df.reset_index()`: Resets the index.

In [ ]:
df.columns

In [ ]:
temp = df.rename(columns={'player_name':'Name', 'nationality':'Nationality', 'type':'Type', 'teams':'Teams', 'year':'Year', 'sponsored_by':'Sponsored_By','sold_price':'Sold_Price'})

In [ ]:
temp.columns

In [ ]:
df.set_index('player_name')

In [ ]:
df.index

In [ ]:
df.reset_index(drop=True)

#### 5. **Dropping Columns**:

   - `df.drop(columns)`: Drops specified columns.
   - `df.pop(column)`: Removes and returns a specific column.

In [ ]:
df.columns

In [ ]:
df.drop(columns='nationality')

In [ ]:
df.drop(columns=['nationality','year'])

In [ ]:
df.pop('sponsored_by')

In [ ]:
df

#### 6. **String Manipulation**:

   - `str.lower()`, `str.upper()`, `str.strip()`: Performs string operations on text columns.
   - `str.contains()`, `str.replace()`: Searches for and replaces text in columns.

In [ ]:
df

In [ ]:
df['player_name'].str.lower()

In [ ]:
df['player_name'].str.upper()

In [ ]:
df['player_name'].str.strip()

#### 7. **Duplicated Data**:

   - `df.duplicated()`: Identifies duplicate rows.
   - `df.drop_duplicates()`: Removes duplicate rows.

In [ ]:
excel_df.duplicated().sum()

In [ ]:
excel_df[excel_df.duplicated()]

In [ ]:
excel_df.drop_duplicates(keep='first')

In [ ]:
excel_df.drop_duplicates(keep='first').duplicated().sum()

#### 8. **Applying Custom Functions**:

   - `apply(func)`, `applymap(func)`: Applies a custom function element-wise or row-wise.
   - `transform(func)`: Applies a custom function element-wise and retains the DataFrame shape.
   
``` python 
df.apply(func, axis=0)  # Apply 'func' to each column
df.apply(func, axis=1)  # Apply 'func' to each row

df.applymap(func)  # Apply 'func' to each element in the DataFrame

series.map(func)  # Apply 'func' to each element in the Series

df.groupby('grouping_column').agg(func)  # Apply aggregation functions to groups
df.groupby('grouping_column').transform(func)  # Apply a function to each group and broadcast the results
df.groupby('grouping_column').filter(lambda x: condition(x))  # Filter groups based on a condition


```

In [ ]:
# creating a custom function
def format_large_number(number):
    if number < 1000:
        return str(number)
    elif number < 1e6:
        return f'{number / 1e3:.1f}K'
    elif number < 1e9:
        return f'{number / 1e6:.1f}M'
    else:
        return f'{number / 1e9:.1f}B'

# Test the function with some examples
number1 = 10000
number2 = 2000000
number3 = 2500000000

formatted1 = format_large_number(number1)
formatted2 = format_large_number(number2)
formatted3 = format_large_number(number3)

print(formatted1)  # Output: 10.0K
print(formatted2)  # Output: 2.0M
print(formatted3)  # Output: 2.5B

In [ ]:
df['sold_price']

In [ ]:
df['sold_price'].apply(format_large_number)

#### 9. **Handling Outliers**:

   - Filtering rows or replacing outlier values based on criteria.

Handling outliers in a dataset is an important step in data preprocessing and analysis. Outliers are data points that significantly differ from the majority of the data and can distort statistical analyses and machine learning models. Pandas offers several methods to handle outliers:

1. **Identifying Outliers:**
   - Before handling outliers, you need to identify them. You can use descriptive statistics, visualizations, or statistical tests to identify outliers in your data.

2. **Removing Outliers:**
   - One common approach is to remove outliers from the dataset. You can do this by filtering the data based on certain criteria. For example, you can remove data points that fall outside a specified range or z-score threshold.

   ```python
   # Removing outliers based on z-score
   from scipy import stats
   z_scores = stats.zscore(df['column_to_check'])
   df_no_outliers = df[(z_scores < 3) & (z_scores > -3)]
   ```

3. **Replacing Outliers:**
   - Instead of removing outliers, you can replace them with more reasonable values. You might replace them with the mean, median, or a custom value.

   ```python
   # Replacing outliers with the median
   median_value = df['column_to_check'].median()
   df['column_to_check'] = df['column_to_check'].apply(lambda x: median_value if x > threshold else x)
   ```

4. **Transforming Data:**
   - You can transform the data to make it more robust to outliers. Common transformations include log transformation or using the Tukey fence.

   ```python
   # Log transformation
   df['column_to_check'] = np.log(df['column_to_check'])
   ```

5. **Clipping Data:**
   - Another option is to clip the data, which caps the extreme values at a predefined threshold.

   ```python
   # Clipping data
   df['column_to_check'] = df['column_to_check'].clip(lower=min_value, upper=max_value)
   ```

6. **Winsorization:**
   - Winsorization is a method where you replace outliers with the nearest non-outlier value.

   ```python
   from scipy.stats.mstats import winsorize
   winsorized_data = winsorize(df['column_to_check'], limits=[0.05, 0.05])
   ```

7. **Robust Statistics:**
   - Using robust statistical methods like the median instead of the mean can make your analysis less sensitive to outliers.

8. **Machine Learning Models:**
   - Some machine learning models can handle outliers effectively, or you can use techniques like robust regression.

The approach you choose depends on your specific data, the nature of the outliers, and the goals of your analysis. Always consider the domain and context when deciding how to handle outliers in your dataset.

#### 10. **Binning and Categorization**:

    - `cut()`: Divides a continuous variable into categorical bins.
    - `qcut()`: Divides a continuous variable into quantile-based bins.

In [ ]:
import pandas as pd

# Sample data
data = {'Date': pd.date_range(start='2023-01-01', periods=30, freq='D'),
        'Temperature (C)': [5, 12, 18, 24, 30, 35, 10, 15, 22, 28, 32, 38, 7, 14, 19, 26, 33, 40, 9, 16, 21, 27, 31, 36, 8, 13, 17, 23, 29, 34]}

df = pd.DataFrame(data)

# Define temperature bins
temperature_bins = [0, 10, 25, 40]
temperature_labels = ['Cold', 'Moderate', 'Hot']

# Create a new column with temperature categories
df['Temperature Category'] = pd.cut(df['Temperature (C)'], bins=temperature_bins, labels=temperature_labels)

print(df)

The `pd.cut()` function in Pandas is used to perform binning or categorization of data, which is the process of converting continuous numerical data into discrete categories or bins. It's particularly useful when you want to group data into intervals or categories for analysis, visualization, or modeling.

Here's how to use `pd.cut()` with a simple example:

In [ ]:
import pandas as pd

# Sample data
data = {'Age': [25, 32, 45, 18, 63, 29, 55, 41, 37, 50]}
df = pd.DataFrame(data)

# Define bins for age groups
age_bins = [0, 18, 30, 40, 60, 100]
age_labels = ['<18', '18-30', '31-40', '41-60', '60+']

# Create a new column with age categories
df['Age Group'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels)

df

In this example, we:

1. Import Pandas and create a DataFrame with a column 'Age' containing age values.

2. Define the bins and labels for age groups. We have defined five bins with corresponding labels, categorizing individuals into age groups.

3. Use `pd.cut()` to create a new column 'Age Group' in the DataFrame. This new column contains the age categories based on the specified bins and labels.

The resulting DataFrame will have the 'Age Group' column, where each individual's age is categorized into one of the specified age groups.

The `pd.cut()` function allows you to specify custom bins and labels, providing you with flexibility in categorizing your data based on your specific requirements. It's a powerful tool for data transformation and preparation for analysis or visualization tasks.

The `pd.qcut()` function in Pandas is used for quantile-based binning, which divides continuous data into discrete intervals or bins such that each bin contains approximately the same number of data points. This is useful when you want to create bins that have a balanced number of data points, making it especially helpful for equal-frequency binning.

Here's how to use `pd.qcut()` with an example:

In [ ]:
import pandas as pd

# Sample data
data = {'Scores': [70, 82, 60, 90, 78, 55, 88, 92, 75, 68]}
df = pd.DataFrame(data)

# Use qcut to create quantile-based bins
quantile_bins = pd.qcut(df['Scores'], q=3, labels=['Low', 'Medium', 'High'])

df['Score Category'] = quantile_bins

df

In this example, we:

1. Import Pandas and create a DataFrame with a column 'Scores' containing numerical values.

2. Use `pd.qcut()` to create quantile-based bins. The `q` parameter specifies the number of quantiles or bins you want to create, and `labels` allow you to assign labels to each bin. In this case, we create three quantile-based bins labeled as 'Low,' 'Medium,' and 'High.'

3. Add a new column, 'Score Category,' to the DataFrame to store the quantile-based categories.

The resulting DataFrame will have the 'Score Category' column, with each individual's score categorized into one of the quantile-based bins. The `pd.qcut()` function ensures that each bin contains approximately the same number of data points, making it suitable for equal-frequency binning and avoiding bias in the bin sizes.

`pd.qcut()` is particularly useful when you want to categorize data into intervals based on the distribution of the data itself, ensuring that you have a balanced representation in each category.

#### 11. **Merging and Joining Data**:

    - `concat()`, `merge()`: Combines multiple DataFrames.
    - `join()`: Joins DataFrames on a common column.

Merging and joining data in Pandas is a crucial operation when working with multiple DataFrames. These operations allow you to combine or join data from different sources based on common columns or keys. Here's an overview of the key functions for merging and joining data in Pandas:

1. **`pd.concat()`:**
   - The `pd.concat()` function is used to concatenate or stack multiple DataFrames along a particular axis (either rows or columns). It is useful when you want to combine data from different DataFrames without regard to their indexes.
   
   ```python
   concatenated = pd.concat([df1, df2], axis=0)  # Concatenate vertically (along rows)
   concatenated = pd.concat([df1, df2], axis=1)  # Concatenate horizontally (along columns)
   ```

In [ ]:
import pandas as pd

# Sample data
data1 = {'A': ['A0', 'A1', 'A2'],
         'B': ['B0', 'B1', 'B2']}
data2 = {'A': ['A3', 'A4', 'A5'],
         'B': ['B3', 'B4', 'B5']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Concatenate vertically (along rows)
concatenated = pd.concat([df1, df2], axis=0)

In [ ]:
df1

In [ ]:
df2

In [ ]:
concatenated

In [ ]:
import pandas as pd

# Sample data
data1 = {'A': ['A0', 'A1', 'A2'],
         'B': ['B0', 'B1', 'B2']}
data2 = {'C': ['C0', 'C1', 'C2'],
         'D': ['D0', 'D1', 'D2']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Concatenate horizontally (along columns)
concatenated = pd.concat([df1, df2], axis=1)

In [ ]:
df1

In [ ]:
df2

In [ ]:
concatenated

2. **`pd.merge()`:**
   - The `pd.merge()` function is used to perform database-style joins on DataFrames. It allows you to combine DataFrames based on common columns or keys, similar to SQL joins. You can specify the type of join (inner, outer, left, or right) and the columns on which to join.
   
   ```python
   merged = pd.merge(df1, df2, on='common_column', how='inner')  # Inner join
   ```

The `pd.merge()` function in Pandas is used to combine two or more DataFrames based on common columns or keys, similar to how SQL joins work. Let's go through an example to demonstrate how to use `pd.merge()`:

Suppose you have two DataFrames, `df1` and `df2`, and you want to merge them based on a common column called "Key."

**Example: Merging DataFrames with `pd.merge()`**

In [ ]:
import pandas as pd

# Sample data for df1
data1 = {'Key': ['A', 'B', 'C', 'D'],
         'Value1': [1, 2, 3, 4]}
df1 = pd.DataFrame(data1)

# Sample data for df2
data2 = {'Key': ['B', 'D', 'E', 'F'],
         'Value2': [5, 6, 7, 8]}
df2 = pd.DataFrame(data2)

# Merge df1 and df2 based on the 'Key' column
merged = pd.merge(df1, df2, on='Key', how='inner')

In [ ]:
df1

In [ ]:
df2

In [ ]:
merged

In this example, we:

1. Import Pandas and create two DataFrames, `df1` and `df2`, each with a 'Key' column.

2. Use `pd.merge()` to merge `df1` and `df2` based on the 'Key' column. We specify `on='Key'` to indicate that we want to merge on the 'Key' column.

3. We also specify `how='inner'` to perform an inner join. An inner join includes only the common 'Key' values present in both DataFrames. Other options for `how` include 'left,' 'right,' and 'outer' to perform left, right, or full outer joins, respectively.

The resulting `merged` DataFrame will contain only the rows with common 'Key' values from both `df1` and `df2`. In this case, it will contain rows with 'Key' values 'B' and 'D.'

Output of the `merged` DataFrame:

```
  Key  Value1  Value2
0   B       2       5
1   D       4       6
```

This demonstrates how `pd.merge()` is used to perform various types of joins, such as inner, left, right, or outer joins, based on common columns or keys in different DataFrames. It's a powerful tool for integrating and combining data from multiple sources.

3. **`.join()`:**
   - The `.join()` method is used to join two DataFrames based on a common column, typically the index column. It provides a convenient way to perform left or right joins.
   
   ```python
   df1.join(df2, how='left')  # Left join
   ```

These functions and methods are powerful tools for combining data from different sources into a single DataFrame, either by stacking them (using `pd.concat()`) or by merging them (using `pd.merge()` or `.join()`).

In addition to these, you can specify key columns, handle duplicate column names, and perform more complex merging and joining operations, including merging on multiple columns or keys.

The choice of which method to use depends on the specific requirements of your data and the type of merge or join operation you want to perform. Understanding the different types of joins (inner, outer, left, right) and how to specify key columns is important when working with these functions.

In Pandas, the `.join()` method is used to combine two DataFrames based on a common column or index. The `.join()` method is more commonly used when you want to join DataFrames on their indices. Let's go through an example to demonstrate how to use `.join()`:

Suppose you have two DataFrames, `df1` and `df2`, and you want to join them based on their indices or a common column, such as "Key."

**Example: Joining DataFrames with `.join()`**

In [ ]:
import pandas as pd

# Sample data for df1
data1 = {'Key': ['A', 'B', 'C', 'D'],
         'Value1': [1, 2, 3, 4]}
df1 = pd.DataFrame(data1)

# Sample data for df2
data2 = {'Value2': [5, 6, 7, 8]}
df2 = pd.DataFrame(data2, index=['B', 'D', 'E', 'F'])

# Join df1 and df2 based on their indices
joined = df1.set_index('Key').join(df2, how='left')

In [ ]:
df1

In [ ]:
df2

In [ ]:
joined

In this example, we:

1. Import Pandas and create two DataFrames, `df1` and `df2`. `df1` has a 'Key' column, and `df2` has a 'Value2' column.

2. Use `.set_index('Key')` to set the 'Key' column as the index in `df1`. This prepares `df1` for the join.

3. Use the `.join()` method to join `df1` and `df2`. We specify `how='left'` to perform a left join, keeping all rows from `df1` and matching rows from `df2`.

The resulting `joined` DataFrame will be based on the indices of `df1` and will contain values from both DataFrames, aligning them based on the common 'Key' values.

Output of the `joined` DataFrame:

```
     Value1  Value2
Key                
A         1     NaN
B         2     5.0
C         3     NaN
D         4     6.0
```

This demonstrates how to use the `.join()` method in Pandas to combine DataFrames based on common indices or columns. It's a convenient way to align and combine data from different sources.

12. **Reshaping Data**:

    - `melt()`: Unpivots data from wide to long format.
    - `pivot()`: Pivots data from long to wide format.
    
    In Pandas, the `melt()` and `pivot()` functions are used for transforming data between "wide" and "long" formats. These operations are commonly used for reshaping data for various analysis and visualization tasks.

**`melt()`: Unpivoting Data (Wide to Long Format)**

The `melt()` function is used to unpivot or melt data from a wide format to a long format. It reshapes the data by converting columns into rows. This can be helpful when you want to analyze data in a more structured or tabular way.

Here's an example of how to use `melt()`:

In [ ]:
import pandas as pd

# Sample data in wide format
data = {'Date': ['2023-01-01', '2023-01-02'],
        'Temperature_NY': [32, 35],
        'Temperature_LA': [70, 72]}

df_wide = pd.DataFrame(data)

# Melt the data to long format
df_long = pd.melt(df_wide, id_vars=['Date'], var_name='City', value_name='Temperature')

In [ ]:
df_wide

In [ ]:
df_long

In this example, `melt()` is used to unpivot the data from a wide format where temperatures for different cities are in separate columns to a long format where temperatures are in rows.

**`pivot()`: Pivoting Data (Long to Wide Format)**

The `pivot()` function, on the other hand, is used to pivot data from a long format to a wide format. It reshapes the data by converting unique values in a column into new columns. This can be useful when you want to create a more structured summary of the data.

Here's an example of how to use `pivot()`:

In [ ]:
import pandas as pd

# Sample data in long format
data = {'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
        'City': ['NY', 'LA', 'NY', 'LA'],
        'Temperature': [32, 70, 35, 72]}

df_long = pd.DataFrame(data)

# Pivot the data to wide format
df_wide = df_long.pivot(index='Date', columns='City', values='Temperature')

In [ ]:
df_long

In [ ]:
df_wide

In this example, `pivot()` is used to pivot the data from a long format where temperatures for different cities are in rows to a wide format where each city has its own column.

These functions are valuable for data preprocessing and reshaping when the format of your data needs to change to suit your analysis or visualization requirements.

#### 13. **Handling Datetime Data**:

    - Extracting date, time, and other components from datetime columns.
    
    Pandas provides several functions to handle datetime data, allowing you to extract date, time, and other components from datetime columns. Here are some common operations you can perform:

**1. Extracting Date and Time Components:**

- To extract the year, month, day, hour, minute, or second from a datetime column, you can use the `.dt` accessor along with the specific component you want to extract. Here are some examples:

In [ ]:
import pandas as pd

# Sample DataFrame with a datetime column
data = {'Date': ['2023-10-24 08:30:00', '2023-10-24 14:45:00']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

# Extract year, month, and day
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Month_name'] = pd.to_datetime(df['Date']).dt.month_name()
df['Day'] = df['Date'].dt.day

# Extract hour and minute
df['Hour'] = df['Date'].dt.hour
df['Minute'] = df['Date'].dt.minute

In [ ]:
df

**2. Extracting Weekday:**

- To extract the day of the week (e.g., Monday, Tuesday), you can use `.dt.weekday_name` or `.dt.day_name()`. This function works well if the datetime column is of type datetime.

In [ ]:
# Extract weekday
df['Weekday'] = df['Date'].dt.day_name()
df

**3. Extracting Date Differences:**

- You can calculate the difference between two datetime columns, such as days, using the subtraction operator.

In [ ]:
# Calculate the date difference in days
df['Date2'] = pd.to_datetime(['2023-10-25', '2023-10-26'])
df['DateDifference'] = (df['Date2'] - df['Date']).dt.days
df

These are just a few examples of how to handle datetime data in Pandas. You can use various datetime-related attributes and methods to manipulate datetime columns to suit your specific analysis and reporting needs.

14. **Handling Categorical Data**:

    - Encoding categorical variables into numerical format.

Handling categorical data often involves encoding categorical variables into numerical format so that they can be used in machine learning models or other data analysis tasks. Pandas provides several methods for encoding categorical data, and scikit-learn offers additional tools for preprocessing categorical data. Here are some common techniques:

**1. Pandas `pd.get_dummies()`:**

`pd.get_dummies()` is a method to perform one-hot encoding, which creates binary columns for each category in the original categorical variable.

In [ ]:
import pandas as pd

# Sample DataFrame with a categorical column
data = {'Category': ['A', 'B', 'A', 'C', 'B']}
df = pd.DataFrame(data)

# Perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=['Category'])

In [ ]:
df

In [ ]:
df_encoded

The output will create binary columns for each category, representing whether the category is present or not.

**2. Scikit-Learn Label Encoding:**

Scikit-learn provides the `LabelEncoder` to convert categorical values into numerical labels.

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['CategoryEncoded'] = le.fit_transform(df['Category'])

In [ ]:
df['CategoryEncoded']

This method assigns a unique integer to each category.

**3. Scikit-Learn One-Hot Encoding:**

Scikit-learn also provides the `OneHotEncoder` to perform one-hot encoding.

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(df['Category'].values.reshape(-1, 1))

The resulting `encoded_data` is a sparse matrix that can be converted back to a DataFrame if needed.

The choice of encoding method depends on the specific requirements of your analysis or machine learning model. One-hot encoding is suitable when there is no ordinal relationship between categories, while label encoding can be useful when an ordinal relationship exists between categories.

**4. Pandas `pd.Categorical`:**

Pandas provides the `pd.Categorical` data type that can be used to efficiently encode and manage categorical data. You can convert a column to a `Categorical` data type and then access its codes.

In [ ]:
df['Category'] = pd.Categorical(df['Category'])
df['CategoryEncoded'] = df['Category'].cat.codes
df['CategoryEncoded']

This approach is useful when you want to work with the original categorical values but also have access to their encoded versions.

Handling categorical data is an essential step in data preprocessing, and the choice of encoding method can impact the performance of machine learning models. Make sure to choose the appropriate method based on the characteristics of your data and the requirements of your analysis.

15. **Mathematical and Statistical Transformations**:

    - `df.apply()`: Apply mathematical or statistical functions row-wise or column-wise.
    
    
    In Pandas, you can perform mathematical and statistical transformations using the `df.apply()` method. This method allows you to apply a custom function, a built-in NumPy function, or a statistical function row-wise or column-wise to a DataFrame. Here's how you can use `df.apply()` for such transformations:

**1. Applying a Custom Function:**

You can define your own custom function and use `df.apply()` to apply it to each row or column of the DataFrame. Here's an example that calculates the square of each element in a DataFrame:

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

# Define a custom function to calculate the square
def square(x):
    return x ** 2

# Apply the custom function to each element in the DataFrame
df_squared = df.apply(square)

df_squared

**2. Applying Built-in NumPy Functions:**

You can apply NumPy functions using `df.apply()` as well. For example, to calculate the mean of each column:

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

# Apply NumPy's mean function to each column
column_means = df.apply(np.mean)
column_means

**3. Applying Statistical Functions:**

You can use statistical functions like `mean()`, `sum()`, `min()`, `max()`, etc., directly with `df.apply()` to compute statistics row-wise or column-wise. For example, to calculate the sum of each row:

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

# Calculate the sum of each row
row_sums = df.apply(sum, axis=1)

In [ ]:
df

In [ ]:
row_sums

The `axis` parameter specifies whether the function should be applied row-wise (axis=1) or column-wise (axis=0).

`df.apply()` is a versatile method that allows you to perform a wide range of mathematical and statistical transformations on DataFrames, making it a valuable tool for data analysis and manipulation.

16. **Custom Data Cleaning and Transformation**:

    - Writing custom functions and transformations to address domain-specific needs.
    
    In Pandas, you can perform mathematical and statistical transformations using the `df.apply()` method. This method allows you to apply a custom function, a built-in NumPy function, or a statistical function row-wise or column-wise to a DataFrame. Here's how you can use `df.apply()` for such transformations:

**1. Applying a Custom Function:**

You can define your own custom function and use `df.apply()` to apply it to each row or column of the DataFrame. Here's an example that calculates the square of each element in a DataFrame:

In [ ]:

import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

# Define a custom function to calculate the square
def square(x):
    return x ** 2

# Apply the custom function to each element in the DataFrame
df_squared = df.apply(square)

print(df_squared)

**2. Applying Built-in NumPy Functions:**

You can apply NumPy functions using `df.apply()` as well. For example, to calculate the mean of each column:

In [ ]:

import pandas as pd
import numpy as np

# Sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

# Apply NumPy's mean function to each column
column_means = df.apply(np.mean)

print(column_means)

**3. Applying Statistical Functions:**

You can use statistical functions like `mean()`, `sum()`, `min()`, `max()`, etc., directly with `df.apply()` to compute statistics row-wise or column-wise. For example, to calculate the sum of each row:

In [ ]:

import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

# Calculate the sum of each row
row_sums = df.apply(sum, axis=1)

print(row_sums)

The `axis` parameter specifies whether the function should be applied row-wise (axis=1) or column-wise (axis=0).

`df.apply()` is a versatile method that allows you to perform a wide range of mathematical and statistical transformations on DataFrames, making it a valuable tool for data analysis and manipulation.

Data cleaning and transformation are highly dependent on the specific dataset and analysis goals. Pandas offers a wide range of functions to support these operations, allowing you to preprocess and manipulate data effectively before analysis.

In [ ]:
import pandas as pd

# Convert an integer to a Timedelta (in this case, 5 days)
timedelta = pd.to_timedelta(5, unit='D')

# Convert a string to a Timedelta (e.g., '3 days 12:30:15')
timedelta_str = pd.to_timedelta('3 days 12 hours 30 minutes 15 seconds')

# Convert a list or array of strings to a Series of Timedeltas
time_values = ['1 day', '2 days', '4 hours']
timedeltas = pd.to_timedelta(time_values)

# Perform arithmetic operations with Timedeltas
total_time = timedelta + timedelta_str

In [ ]:
total_time

Let's walk through some examples of using the `groupby()` method in Pandas with code to illustrate its various features:

**1. Grouping and Aggregating Data:**

```python
import pandas as pd

# Creating a sample DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 15, 25, 30]}
df = pd.DataFrame(data)

# Grouping by 'Category' and calculating the sum of 'Value'
grouped = df.groupby('Category')['Value'].sum()
print(grouped)
```

**2. Chaining Aggregation Functions:**

```python
# Grouping by 'Category' and calculating multiple aggregations
agg_result = df.groupby('Category')['Value'].agg(['sum', 'mean', 'count'])
print(agg_result)
```

**3. Custom Aggregation Functions:**

```python
# Define a custom aggregation function to calculate range
custom_agg = lambda x: x.max() - x.min()
custom_result = df.groupby('Category')['Value'].agg(custom_agg)
print(custom_result)
```

**4. Named Aggregations:**

```python
# Assign a name to the result of an aggregation
named_agg = df.groupby('Category').agg(total_value=('Value', 'sum'))
print(named_agg)
```

**5. Iterating Over Groups:**

```python
# Iterating over groups
for group_name, group_df in df.groupby('Category'):
    print(f"Group: {group_name}")
    print(group_df)
```

**6. Filtering Groups:**

```python
# Filtering groups based on a condition
filtered_groups = df.groupby('Category').filter(lambda x: x['Value'].sum() > 20)
print(filtered_groups)
```

These examples demonstrate various ways to use the `groupby()` method for grouping, aggregating, and processing data in Pandas. You can apply these techniques to real-world data analysis tasks to gain insights and perform summarization on your data.

In [ ]:
ipl = pd.read_csv("/kaggle/input/ipl-auction-20132022-data/IPl Auction 2013-2022.csv")

In [ ]:
ipl.head()

In [ ]:
nation_grp = ipl.groupby(by="nationality")

In [ ]:
nation_grp.first()

In [ ]:
nation_grp.last()

In [ ]:
nation_grp.describe()

In [ ]:
nation_grp.groups.keys()

In [ ]:
nation_grp.get_group("Indian")

In [ ]:
nation_grp.get_group("Overseas")

In [ ]:
nation_grp.get_group("Indian")['sold_price'].count()

In [ ]:
nation_grp.get_group("Indian")['sold_price'].sum()

In [ ]:
nation_grp.get_group("Indian")['sold_price'].mean()

In [ ]:
nation_grp.get_group("Indian")['sold_price'].max()

In [ ]:
nation_grp.get_group("Indian")['sold_price'].min()

In [ ]:
ipl.groupby("type")['sold_price'].agg(['min','max','sum', 'mean', 'count'])

In [ ]:
for name,df in nation_grp:
    print(name)
    print(df.shape)


# Conclusion

In this comprehensive tutorial, we've covered a wide range of topics related to data manipulation and analysis using the Pandas library in Python. Whether you're a beginner or an experienced data analyst, Pandas is an invaluable tool for working with structured data effectively. With Pandas, you can load, clean, transform, and analyze data, making it a fundamental library for any data-driven project.

We explored the following key aspects of Pandas:

1. **Introduction to Pandas:** We started with an overview of what Pandas is and why it's so popular for data analysis and manipulation.

2. **Data Structures:** We delved into the two primary data structures in Pandas: Series and DataFrames. These structures are the building blocks for working with data.

3. **Data Cleaning:** We discussed techniques for handling missing data, duplications, and outliers, which are crucial for preparing data for analysis.

4. **Data Transformation:** We explored various techniques for reshaping data, creating new columns, and combining DataFrames.

5. **Grouping and Aggregation:** We demonstrated how to group data and perform aggregation operations using Pandas.

6. **Reading and Writing Data:** You learned how to read data from various file formats and save your Pandas DataFrames to different formats.

7. **Data Visualization:** We discussed how to create basic data visualizations with Pandas and Matplotlib.

8. **Custom Functions and Transformations:** You learned how to write and apply custom functions for data cleaning, transformation, and analysis.

Throughout the tutorial, we provided practical examples to help you understand how to use Pandas effectively. Remember that Pandas is a versatile library, and as you become more familiar with its capabilities, you'll be better equipped to handle real-world data analysis tasks.

We hope this tutorial has been a valuable resource in your journey to become proficient with Pandas. Data manipulation and analysis are foundational skills for many domains, including data science, machine learning, finance, and more. Continue exploring and experimenting with Pandas to build your expertise and take your data analysis skills to the next level.

If you have any questions or need further assistance in the future, feel free to return. Happy coding and data analyzing!

---

Thank you for going through this Pandas tutorial, and we wish you the best in your data analysis endeavors!